/* ============================ 
      Home Page
 ============================ */

.banner {
    background-image: url("../../../public/Image/cover.jfif");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vmin;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: var(--white-color);
}

.banner h1 {
    margin: 5vmax;
    font: 600 2.5vmax "Roboto";
}

.banner p {
    font: 300 1.4vmax "Lucida Sans";
}

.banner a button {
    margin-bottom: 5vmax;
    cursor: pointer;
    background-color: var(--white-color);
    border: 1px solid var(--white-color);
    border-radius: 0;
    padding: 1vmax;
    width: 9vmax;
    font: 500 1vmax "Roboto";
}

.banner a button:hover {
    background-color: transparent;
}

.banner::after {
    content: "";
    width: 100vw;
    height: 100vmin;
    background-color: var(--white-color);
    position: absolute;
    top: 0;
    left: 0;
    clip-path: polygon(100% 68%, 0 100%, 100% 100%);
    max-width: 100%;
}
