.search input {
    padding: 5px 0 5px 20px;
    border: 1px solid black;
    outline: none;
}

.search svg {
    padding: 5px 10px;
    background-color: white;
    border: 1px solid black;
    border-left: none;
}

.icons a {
    color: var(--black-color);
}

.icons svg {
    cursor: pointer;
    width: 100%;
}